.App .daily-charts h2 {
	margin-bottom: 15px;
}

.App .daily-charts h2 .h2-small {
	font-size: 1.15rem;
}

.daily-charts #charts {
	display: flex;
	flex-direction: column;
	height: 600px;
	margin-bottom: 15px;
}

.daily-charts #charts > svg {
	margin-bottom: 20px;
}


/* AXIS */
.daily-charts #charts .axis line {
  stroke: var(--grey04);
  shape-rendering: crispEdges;
}
.daily-charts #charts .axis text {
	color: var(--black);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	font-size: 0.9rem;
}

.daily-charts #charts .label-text {
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	font-size: 1.25rem;
	transform: translate(-25px, 5px);

}


/* PARTY COLOURS*/
.daily-charts #charts .label-text.green,
.daily-charts #charts .green rect {
	fill: var(--greenbc);
}
.daily-charts #charts .label-text.liberal,
.daily-charts #charts .liberal rect {
	fill: var(--liberalbc);
}
.daily-charts #charts .label-text.ndp,
.daily-charts #charts .ndp rect {
	fill: var(--npdbc);
}

/* ANNOTATIONS */
.daily-charts #charts .annotations .subject {
	color: var(--grey02);
	stroke-dasharray: 10 5;
}

.daily-charts #charts .annotations .note-line {
	display: none;
}

.daily-charts #charts .annotations .annotation-note-title {
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	font-size: 0.9rem;
}


/* SOURCE */
.daily-charts .source {
	color: var(--grey01);
	font-size: 0.9rem;
}

.daily-charts .source a:-webkit-any-link {
	color: var(--grey01);
}



@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
    .daily-charts #charts {
    	display: flex;
    	flex-direction: row;
    	height: 325px;
    	margin-bottom: 15px;
    }

    .daily-charts #charts > svg {
    	flex: 1;
    	margin: 0;
    	width: 100%;
    }
}
