.daily-charts #charts {
	display: flex;
	flex-direction: column;
	height: 600px;
	margin-bottom: 15px;
}

.daily-charts #charts > svg {
/*	flex: 1;
	width: 100%;*/
}
.axis line {
  stroke: var(--grey04);
  /*stroke-opacity: 1;*/
  shape-rendering: crispEdges;
}
.daily-charts #charts .axis text {
	color: var(--black);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	font-size: 0.9rem;
}

.daily-charts #charts .green rect {
	fill: var(--greenbc);
}
.daily-charts #charts .liberal rect {
	fill: var(--liberalbc);
}
.daily-charts #charts .ndp rect {
	fill: var(--npdbc);
}


.daily-charts .source {
	color: var(--grey01);
	font-size: 0.9rem;
}

.daily-charts .source a:-webkit-any-link {
	color: var(--grey01);
}



@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
    .daily-charts #charts {
    	display: flex;
    	flex-direction: row;
    	height: 325px;
    	margin-bottom: 15px;
    }

    .daily-charts #charts > svg {
    	flex: 1;
    	width: 100%;
    }
}
